@use "../../../../scss/abstracts/colors";

.TaskListLayout {
  width: 100%;
  user-select: none;
  height: 100vh;
  .TaskListLayout__content {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 2em;
    padding: 0 2.2em;
    //====Scroll Bar======
    &::-webkit-scrollbar {
      width: 1em;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
      width: 1em;
    }
    &::-webkit-scrollbar-thumb {
      background-color: red;
      outline: 1px solid slategrey;
    }

    //====================
    .taskListLayout__sub-message {
      .task-name-wrapper {
        color: colors.getColor(primary);
        font-size: clamp(1rem, 2vw, 3rem);
        font-weight: 600;
        display: flex;
        gap: 0.25em;
        .task-change-emoji {
          background-color: transparent;
          border: none;
          cursor: pointer;
          border-radius: 0.15em;
          &:hover {
            background-color: colors.getColor(secondary-darker-bg);
          }
        }
        .task-name {
          font-size: clamp(2rem, 1.5vw, 4rem);
        }
        em-emoji-picker {
          position: absolute;
          z-index: 999;
        }
      }
      .task-message-paragraph {
        font-size: clamp(0.5rem, 2vw, 0.8rem);
        color: colors.getColor(primary);
        max-width: 27em;
        .task-message-paragraph__marked-word {
          background-color: colors.getColor(secondary-darker-bg);
          border-radius: 0.25em;
          padding: 0.25em;
          font-size: 0.7rem;
          color: colors.getColor(text-light-red);
        }
      }
    }
    .taskListLayout__wrapper {
      height: 100%;
      .losion-collection_view_page-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid colors.getColor(primary-border);
        margin: 1em 0 1em 0;

        font-size: 0.8rem;
        .losion-tab-list {
          display: flex;
          align-items: center;
          list-style: none;
          gap: 1em;
          .losion-collection-view-tab-button {
            padding: 0 0.5em 0.4em 0;
            .tab-list-add-btn {
              background-color: transparent;
              cursor: pointer;
              .plusIcon {
                fill: colors.getColor(text-not-selected);
                height: 0.8em;
              }
            }
            button {
              display: flex;
              align-items: center;
              gap: 0.5em;
              font-size: 0.875rem;
              font-weight: 500;
              background-color: transparent;
              border: none;
              cursor: pointer;
              color: colors.getColor(text-not-selected);
              .hovered-path {
                height: 1em;
                width: 1em;
                fill: colors.getColor(text-not-selected);
              }
            }
          }
          //SELECTED STATE
          .losion-collection-view-tab-button__selected {
            border-bottom: 3px solid colors.getColor(secondary-border);
            button {
              color: colors.getColor(text-primary);
              .CollectionBoardIcon {
                fill: colors.getColor(primary);
              }
            }
          }
          .CollectionBoardIcon {
            fill: colors.getColor(darker-bg);
            height: 1em;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .TaskListLayout {
    .TaskListLayout__content {
      margin: 0;
      margin-top: 2em;
      padding: 0 1.6875rem;
      .taskListLayout__sub-message {
      }
    }
  }
}
