@use "../abstracts/colors";

.login-btn {
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 0.5em;
  background-color: #ffffff;
  font-weight: 500;
  color: colors.$color-text-grey;
  border: none;
  &:hover {
    background-color: colors.$hover-button-primary;
  }
}

.get-losion-free {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 0.4em 1em;
  cursor: pointer;
  border-radius: 0.35em;
  font-weight: 700;
  color: white;
  border: none;
  background-color: colors.$black-700;
  &:hover {
    background-color: colors.$hover-button-secondary;
  }
}

.themeIcon {
  background-color: #ffffff;
  padding: 0.2em;
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
  &:hover {
    background-color: colors.$hover-button-primary;
  }
}

// =======Arrows=======

.chevronArrowRight {
  height: 1em;
  width: 1em;
}

.chevronArrowRight-fill {
  fill: white;
}
