@use "../../../scss/abstracts/colors";
.BoardViewLayout_wrapper {
  .BoardViewLayout_rows {
    display: flex;
    gap: 1.5em;
    height: 100%;
    width: 100%;
    margin-top: 3em;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .BoardViewLayout_wrapper {
    .BoardViewLayout_rows {
      .BoardViewLayout_col {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .BoardViewLayout_wrapper {
    .BoardViewLayout_rows {
      //Overflow scroll on pc
      overflow-x: scroll;
      height: 100%;
    }
  }
}
