@use "../../../scss/abstracts/colors";

.actionsModal {
  position: absolute;
  right: -20%;
  top: -50%;
  background-color: colors.getColor(secondary-darker-bg);
  z-index: 999;
  box-shadow: 0 0 10px 10px hsla(0, 0%, 0%, 0.05);
  border-radius: 0.25em;
  .actionsModal__wrapper {
    padding: 0.5em;
    .actionsModal__searchInput {
      background-color: colors.getColor(secondary-bg);
      color: colors.getColor(primary);
      font-weight: 500;
      border: 1px solid colors.getColor(light-dark-border);
      padding: 0.25em;
      border-radius: 0.25em;
      margin-bottom: 1em;
    }
    ul {
      li {
        display: flex;
        align-items: center;
        gap: 0.5em;
        padding: 0.2em 0.8em;
        border-radius: 0.25em;
        .trashIcon {
          height: 1em;
          fill: colors.getColor(text-primary);
        }

        &:hover {
          background-color: colors.getColor(hover-action);
        }

        button {
          background-color: transparent;
          border: none;
          color: colors.getColor(text-primary);
          //FOCUS STATE
          font-weight: 500;
          &:focus {
            outline: 2px solid colors.getColor(light-dark-border);
          }
        }
      }
    }
  }
}
