.appPage {
  background-color: #191919;
  display: flex;
  min-height: 100vh;
}

.root {
  &::-webkit-scrollbar {
    width: 1em;
  }
  &::-webkit-scrollbar-track {
    width: 1em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: red;
    outline: 1px solid slategrey;
  }
}

@media screen and (max-width: 768px) {
  .app-aside {
    display: none;
  }
}
